# Edit Bot.uz - Environment Variables
# .env faylini .env.example dan nusxa oling va o'zgartiring

# Telegram Bot Token (BotFather dan oling)
# Secret sifatida TELEGRAM_BOT_TOKEN nomi bilan saqlanadi
BOT_TOKEN=8617023224:AAGqX5DHUgSZYhbs_n25_pklzh7TiUIMuCw
TELEGRAM_BOT_TOKEN=8617023224:AAGqX5DHUgSZYhbs_n25_pklzh7TiUIMuCw

# Bot Owner ID
OWNER_ID=8404514882

# Admin ID lar (vergul bilan ajratilgan)
ADMIN_IDS=5675087151,8404514882
